.containerAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 120px 16px;
  margin: 0 auto;

  position: relative;
  overflow: hidden;
}

.contentAbout {
  height: 100%;
  max-width: 320px;
  margin: 0 auto;

  font-family: var(--font-family);
  color: var(--white);

  font-weight: 400;
  line-height: 190%;
  letter-spacing: 0.02em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  position: relative;
  z-index: 1;
  overflow: hidden;
}

.image {
  display: none;
}

.imageMobaliTablet {
  width: 170px;
  height: 170px;
  border-radius: 50%;

  position: relative;
  z-index: 3;
  overflow: hidden;
}

.title {
  font-size: 40px;

  text-transform: uppercase;
  color: var(--rose);
  z-index: 3;

  font-size: 40px;
  position: relative;
}

.title::after {
  width: 140px;
}

.title::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background-color: var(--rose);
  margin: 12px auto 0;
}

.descr {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.descr span {
  color: var(--rose);
}

.behind {
  display: none;
}

.whiteLine,
.grayLine {
  display: none;
}

@media only screen and (min-width: 768px) {
  .containerAbout {
    padding: 120px 36px;
  }

  .contentAbout {
    padding-top: 30px;
    max-width: 768px;
  }
  .imageMobaliTablet {
    width: 250px;
    height: 250px;
  }

  .title {
    font-size: 50px;
  }

  .title::after {
    width: 140px;
  }

  .behind {
    display: block;
    font-size: 270px;

    font-weight: 400;

    line-height: 170%;
    text-transform: lowercase;

    color: transparent;
    -webkit-text-stroke: 2px #363636;
    user-select: none;
    pointer-events: none;

    position: absolute;
    z-index: 0;

    top: 0;
    left: 10%;
  }
}

@media only screen and (min-width: 1024px) {
  .containerAbout {
    padding: 120px 36px;
  }

  .contentAbout {
    max-width: 1024px;
    display: block;
  }
  .contentBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 60px;
  }

  .image {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;

    position: relative;
    z-index: 3;
    overflow: hidden;
  }

  .title {
    margin: 0;
  }

  .title::after {
    width: 61px;
    height: 1px;
    margin: 16px 0 0;
  }

  .descr {
    flex-direction: column;
  }

  .imageMobaliTablet {
    display: none;
  }

  .behind {
    top: 0;
    left: 10%;
    font-size: 300px;
  }
}

@media only screen and (min-width: 1280px) {
  .containerAbout {
    padding: 156px 10px 84px 228px;
  }

  .contentAbout {
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    gap: 60px;
  }

  .contentBox {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;

    align-items: center;

    gap: 80px;
    margin-bottom: 60px;
  }

  .image {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;

    position: relative;
    z-index: 3;
    overflow: hidden;
  }

  .descr {
    flex-direction: column;
    padding-top: 100px;
    font-size: 22px;
  }

  .imageMobaliTablet {
    display: none;
  }

  .behind {
    font-size: 454px;
    top: -70px;
    left: 10%;
  }

  /* Lines */

  .whiteLine,
  .grayLine {
    display: block;
    position: fixed;
    left: 50%;
    transform-origin: center;
    width: 120vw;
    height: 80px;

    border: 2px solid var(--grey);
    overflow: hidden;

    box-shadow:
      0 0 0 0 #000,
      0 27px 58px 0 rgba(0, 0, 0, 0.98),
      0 106px 106px 0 rgba(0, 0, 0, 0.85),
      0 239px 143px 0 rgba(0, 0, 0, 0.5),
      0 425px 170px 0 rgba(0, 0, 0, 0.15),
      0 664px 186px 0 rgba(0, 0, 0, 0.02);
  }

  .grayLine {
    /* position: absolute; */
    left: 15%;
    transform: translate(-50%) rotate(316deg);
    background: var(--grey);
    z-index: 15;
  }

  .whiteLine {
    /* position: absolute; */
    top: 100%;
    left: 40%;
    transform: translate(-50%, 50%) rotate(33deg);

    background: var(--white);
    z-index: 10;
  }

  .track {
    display: flex;
    white-space: nowrap;
    width: max-content;

    padding: 20px 0;
    animation: scroll 40s linear infinite;
  }

  .grayLine .track {
    animation: scrollRight 40s linear infinite;
  }

  .dot {
    width: 17px;
    height: 17px;
    margin-right: 60px;
    background: var(--rose);
    border-radius: 50%;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 60px;
  }

  .whiteText,
  .grayText {
    display: flex;
    align-items: center;
    gap: 60px;

    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
  }

  .whiteText {
    color: var(--grey);
  }

  .grayText {
    color: var(--white);
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  @keyframes scrollRight {
    from {
      transform: translateX(-50%);
    }

    to {
      transform: translateX(0);
    }
  }

  .whiteLine:hover .track {
    animation-play-state: paused;
  }

  .grayLine:hover .track {
    animation-play-state: paused;
  }
}
