.containerProjects {
  padding: 60px 100px 574px 450px;

  position: relative;
}

.title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.title::after {
  content: "";
  display: block;
  width: 61px;
  height: 1px;
  background-color: var(--rose);
  margin-top: 12px;
}

.listCard {
  display: flex;
  gap: 60px;
}

.card {
  width: 360px;
  height: 375px;
}

.cardImg {
  width: 359px;
  height: 269px;
}

.cardName {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 21px;
  line-height: 175%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #fff;
}

/* Lines */
.whiteLine {
  position: absolute;

  width: 2200px;
  height: 95px;

  /* transform: translate(-70%, 250%) rotate(190deg); */

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) rotate(190deg);
  background: var(--white);

  z-index: 3;
  border: 5px solid var(--grey);
  box-shadow:
    0 0 0 0 #000,
    0 27px 58px 0 rgba(0, 0, 0, 0.98),
    0 106px 106px 0 rgba(0, 0, 0, 0.85),
    0 239px 143px 0 rgba(0, 0, 0, 0.5),
    0 425px 170px 0 rgba(0, 0, 0, 0.15),
    0 664px 186px 0 rgba(0, 0, 0, 0.02);

  user-select: none;
}

.grayLine {
  position: absolute;
  z-index: 1;

  width: 2000px;
  height: 90px;

  transform: translate(-60%, 40%) rotate(288deg);

  background-color: var(--grey);
  /* border: 5px solid var(--grey); */
  box-shadow:
    0 0 0 0 #000,
    0 27px 58px 0 rgba(0, 0, 0, 0.98),
    0 106px 106px 0 rgba(0, 0, 0, 0.85),
    0 239px 143px 0 rgba(0, 0, 0, 0.5),
    0 425px 170px 0 rgba(0, 0, 0, 0.15),
    0 664px 186px 0 rgba(0, 0, 0, 0.02);

  user-select: none;
}

.track {
  display: flex;
  white-space: nowrap;
  width: max-content;

  padding: 20px 0;
  animation: scroll 40s linear infinite;
}

.grayLine .track {
  animation: scroll 40s linear infinite;
}

.dot {
  width: 17px;
  height: 17px;
  margin-right: 60px;
  background: var(--rose);
  border-radius: 50%;
}

.item {
  display: flex;
  align-items: center;
  gap: 60px;
}

.whiteText {
  display: flex;
  align-items: center;
  gap: 60px;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--grey);
  transform: rotate(180deg);
}

.grayText {
  display: flex;
  align-items: center;
  gap: 60px;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--white);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

.whiteLine:hover .track {
  animation-play-state: paused;
}

.grayLine:hover .track {
  animation-play-state: paused;
}

/* Content behind */

.behind {
  font-weight: 400;
  font-size: 454px;
  line-height: 170%;
  text-transform: lowercase;

  position: absolute;
  top: -205px;
  left: 170px;

  color: transparent;
  -webkit-text-stroke: 2px #363636;

  user-select: none;

  z-index: 0;
}
