.main {
  max-width: 1200px;
  position: relative;
}

.content {
  max-width: 1150px;
  height: auto;
  padding-left: 100px;
  padding-top: 100px;
  position: relative;

  /* text-transform: capitalize; */
  font-family: var(--font-family);
  color: var(--white);
  line-height: 347%;
  line-height: 170%;

  user-select: none;

  z-index: 2;
}

.title {
  font-weight: 400;
  font-size: 140px;
  margin-bottom: 140px;
}

.title span {
  color: var(--orange);
}

.descr {
  font-size: 50px;
  line-height: 170%;
}

.descr span {
  color: var(--orange);
}

/* Lines */
.whiteLine {
  position: absolute;

  width: 2200px;
  height: 95px;

  top: -210px;
  right: -600px;
  transform: rotate(218deg);

  background: var(--white);

  z-index: 3;
  border: 5px solid var(--grey);
  box-shadow:
    0 0 0 0 #000,
    0 27px 58px 0 rgba(0, 0, 0, 0.98),
    0 106px 106px 0 rgba(0, 0, 0, 0.85),
    0 239px 143px 0 rgba(0, 0, 0, 0.5),
    0 425px 170px 0 rgba(0, 0, 0, 0.15),
    0 664px 186px 0 rgba(0, 0, 0, 0.02);

  user-select: none;
}

.grayLine {
  position: absolute;
  z-index: 1;

  width: 2000px;
  height: 90px;

  left: -40px;
  bottom: -100px;
  transform: rotate(347deg);

  background-color: var(--grey);
  /* border: 5px solid var(--grey); */
  box-shadow:
    0 0 0 0 #000,
    0 27px 58px 0 rgba(0, 0, 0, 0.98),
    0 106px 106px 0 rgba(0, 0, 0, 0.85),
    0 239px 143px 0 rgba(0, 0, 0, 0.5),
    0 425px 170px 0 rgba(0, 0, 0, 0.15),
    0 664px 186px 0 rgba(0, 0, 0, 0.02);

  user-select: none;
}

.track {
  display: flex;
  white-space: nowrap;
  width: max-content;

  padding: 20px 0;
  animation: scroll 40s linear infinite;
}

.grayLine .track {
  animation: scrollRight 40s linear infinite;
}

.dot {
  width: 17px;
  height: 17px;
  margin-right: 60px;
  background: var(--orange);
  border-radius: 50%;
}

.item {
  display: flex;
  align-items: center;
  gap: 60px;
}

.whiteText {
  display: flex;
  align-items: center;
  gap: 60px;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--grey);
  transform: rotate(180deg);
}

.grayText {
  display: flex;
  align-items: center;
  gap: 60px;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--white);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(0);
  }
}

.whiteLine:hover .track {
  animation-play-state: paused;
}

.grayLine:hover .track {
  animation-play-state: paused;
}

/* Content behind */

.behind {
  font-weight: 400;
  font-size: 454px;
  line-height: 170%;
  text-transform: lowercase;

  position: absolute;
  top: -205px;
  left: 176px;

  color: transparent;
  -webkit-text-stroke: 2px #363636;

  user-select: none;

  z-index: 0;
}
